
html {
    font-family: 'Montserrat', sans-serif;
}


.navitem {
display: inline-block;
padding: 20px;
font-weight: 600;
}

.left {
width: 29%;
height: 2000px;
float: left;
}

.left-top {
    background-color: black;
    height: 350px;
}

.left-bottom {
    background-color: rgb(210, 250, 255);
    height: 1650px;
    float: left;
    width: 100%;
}


.right {
    width: 70%;
    height: 2000px;
    float: left;
    background-color: pink;

}

.main {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.title {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.info {
    padding-left: 20px;
    color: #002f6d;
}

.heroimage {
    display: block;
    margin: 0 auto;
    width: 60%;
}

h1 {
    text-align: center;
}

.bodytext {
    margin: 40px;
}

.card {
    display: inline-block;
    background-color: rgb(55, 21, 146);
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 40px;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .card p {
        font-weight: 600;
        text-align: center;
        margin: 0;
          padding-top: 40px;

    font-size: 100px;
    color: rgb(252, 127, 127);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px red, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

}